:root {
  --in-content-page-color: #0c0c0d;
  --in-content-page-background: #f9f9fa;
  --in-content-text-color: #0c0c0d;
  --in-content-selected-text: #fff;
  --in-content-box-background: #fff;
  --in-content-box-background-odd: rgba(12, 12, 13, 0.05); /* grey 90 a05 */
  --in-content-box-background-hover: #ededf0; /* grey 20 */
  --in-content-box-background-active: #d7d7db; /* grey 30 */
  --in-content-box-border-color: var(--grey-90-a30);
  --in-content-item-hover: rgba(69, 161, 255, 0.2); /* blue 40 a20 */
  --in-content-item-selected: #0a84ff;
  --in-content-border-highlight: #0a84ff;
  --in-content-border-focus: #0a84ff;
  --in-content-border-hover: var(--grey-90-a50);
  --in-content-border-active: var(--blue-50);
  --in-content-border-active-shadow: var(--blue-50-a30);
  --in-content-border-invalid: var(--red-50);
  --in-content-border-invalid-shadow: var(--red-50-a30);
  --in-content-border-color: #d7d7db;
  --in-content-category-outline-focus: 1px dotted #0a84ff;
  --in-content-category-text: rgba(12,12,13);
  --in-content-category-text-selected: #0a84ff;
  --in-content-category-text-selected-active: #0060df;
  --in-content-category-background-hover: rgba(12,12,13,0.1);
  --in-content-category-background-active: rgba(12,12,13,0.15);
  --in-content-category-background-selected-hover: rgba(12,12,13,0.15);
  --in-content-category-background-selected-active: rgba(12,12,13,0.2);
  --in-content-tab-color: #424f5a;
  --in-content-link-color: #0a8dff;
  --in-content-link-color-hover: #0060df;
  --in-content-link-color-active: #003eaa;
  --in-content-link-color-visited: #0a8dff;
  --in-content-primary-button-background: var(--blue-60);
  --in-content-primary-button-background-hover: var(--blue-70);
  --in-content-primary-button-background-active: var(--blue-80);
  --in-content-table-background: #ebebeb;
  --in-content-table-border-dark-color: #d1d1d1;
  --in-content-table-header-background: #0a84ff;

  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-60: #4a4a4f;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --red-50: #ff0039;
  --red-50-a30: rgba(255, 0, 57, 0.3);
  --yellow-50: #ffe900;
  --yellow-90: #3e2800;

  --shadow-10: 0 1px 4px var(--grey-90-a10);
  --card-shadow: var(--shadow-10);
  --card-outline-color: var(--grey-30);
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
  --card-shadow-focus: 0 0 0 2px var(--blue-50), 0 0 0 6px var(--blue-50-a30);
}

html {
  -moz-appearance: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

body {
  font-size: 15px;
  font-family: helvetica;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: lighter;
  line-height: 1.2;
  color: var(--in-content-text-color);
  margin: 0;
  margin-bottom: .5em;
}

hr {
  border-style: solid none none none;
  border-color: var(--in-content-border-color);
}

h2 {
  font-weight: 300;
  line-height: 1.4em;
}

*|*.main-content {
  padding: 40px 28px;
  overflow: auto;
}

/* Message bars */
.message-bar {
  background-color: var(--grey-20);
  border-radius: 4px;
  color: var(--grey-90);
  min-height: 32px;
  -moz-box-align: center;
  padding: 4px;
}

.message-bar-description {
  margin: 0;
  line-height: 1.25;
}

/* The message-bar-button styles have extra specificity to override
 * the defaults for buttons. */
.message-bar-content > .message-bar-button {
  background-color: var(--grey-90-a10);
  border: none;
  border-radius: 2px;
  height: 24px;
  margin-inline-start: 8px;
  padding: 0 8px;
}

.message-bar-content > .message-bar-button:hover {
  background-color: var(--grey-90-a20);
}

.message-bar-content > .message-bar-button:hover:active {
  background-color: var(--grey-90-a30);
}

.message-bar-icon {
  list-style-image: url("chrome://browser/skin/identity-icon.svg");
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-inline-end: 4px;
  -moz-context-properties: fill;
  fill: currentColor;
}

/* Warning styles */
.message-bar-warning {
  background-color: var(--yellow-50);
  color: var(--yellow-90);
}

.message-bar-warning > .message-bar-icon {
  list-style-image: url("chrome://browser/skin/warning.svg");
}

.card {
  background: var(--in-content-box-background);
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  margin: 0 0 8px;
  padding: 16px;
  transition: box-shadow 150ms;
}

.card:hover {
  box-shadow: var(--card-shadow-hover);
}

.card-heading-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: -16px -16px 16px;
}

.sidebar-footer-button {
  padding: 1px; /* Adding padding around help label in order to make entire keyboard focusing outline visible */
}

.sidebar-footer-button > .text-link {
  -moz-box-flex: 1;
  margin-inline-start: 34px;
  margin-inline-end: 0;
  text-decoration: none;
  color: currentColor;
  width: 36px;
  height: 36px;
  cursor: default;
}

.sidebar-footer-button > .text-link:hover {
  background-color: var(--in-content-category-background-hover);
  border-radius: 2px;
}

.sidebar-footer-button > .text-link:hover:active:not([disabled]) {
  background-color: var(--in-content-category-background-active);
}

.sidebar-footer-button > .text-link:-moz-focusring {
  outline: var(--in-content-category-outline-focus);
}

.sidebar-footer-icon {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin: 10px;
  margin-inline-start: 13px;
  vertical-align: middle;
}

.sidebar-footer-icon:hover {
  fill: currentColor !important;
}

.sidebar-footer-button:last-of-type {
  margin-bottom: 36px;
}

.help-icon {
  list-style-image: url("chrome://global/skin/icons/help.svg");
}

.preferences-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/general.svg");
}

.addons-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.svg");
  /* The add-ons icon doesn't have much (any?) margin, so make it a bit smaller. */
  width: 14px;
  height: 14px;
  margin-inline-start: 15px;
}

.sidebar-footer-label {
  margin: 0 4px;
  font-size: .9em;
  -moz-user-select: none;
}

@media (max-width: 830px) {
  .sidebar-footer-button > .text-link {
    -moz-box-flex: 0;
    width: 36px;
    height: 36px;
    margin-inline-start: 0;
  }

  .sidebar-footer-icon {
    margin: 10px;
  }

  .sidebar-footer-label {
    display: none;
  }
}
