#content {
  display: flex;
  margin: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 70px;
}

.sidebar-item {
  color: var(--in-content-category-text);
  padding: 16px;
  font-size: 18px;
  border-radius: 3px;
}

.sidebar-item:hover {
  background-color: var(--in-content-category-background-selected-hover);
  text-decoration: none;
}

.sidebar-item[selected] {
  color: var(--in-content-category-text-selected);
}

.main {
  margin-inline-start: 16px;
  width: 670px;
}
